<app-myheader></app-myheader>
<article class="flex">
  <h1>Dependency Injection (DI)</h1>
  <div class="flex flex-row flex-wrap">
    <section class="flex card_update">
      <h2>Приклад 1. Залежності, конструктор та сеттер</h2>
      <label
        >Назва автівки
        <input value="Tesla" [formControl]="model" />
      </label>
      <label
        >Потужність двигуна автівки
        <input
          value="Tesla"
          type="number"
          min="1"
          max="100"
          value="5"
          [formControl]="power"
        />
      </label>
      <h3>Перший приклад</h3>
      <p>{{ ras() }}</p>
      <h3>Залежності через конструктор</h3>

      <p>{{ ras_constructor() }}</p>
      <h3>Залежності через властивість set</h3>
      <p>{{ ras_set() }}</p>
    </section>
    <section class="flex card_update">
      <h2>Приклад 2. Залежності через інтерфейс</h2>
      <button class="btn" (click)="ras_interface()">Виведення</button>
      <div *ngFor="let car of cars">
        <p>Модель = {{ car.Model }} Потужність = {{ car.Engine.power }}</p>
      </div>
      <h3>Зміна потужності всіх автівок</h3>
      <button class="btn" (click)="update_engine_power()">
        Змінити потужність
      </button>
    </section>
    <section class="flex card_update">
      <h2>Приклад IOC</h2>
      <label
        >Назва автівки
        <input [formControl]="model" />
      </label>
      <label
        >Назва двигуна автівки
        <input [formControl]="powerName" />
      </label>
      <label
        >Потужність двигуна автівки
        <input
          value="Tesla"
          type="number"
          min="1"
          max="100"
          value="5"
          [formControl]="power"
        />
      </label>
      <h3>Результат</h3>
      {{ ras_ioc() }}
    </section>
  </div>
</article>
<router-outlet></router-outlet>
